@page "/"
@using SWH.Models
@using SWH.Interfaces
@using SWH.Shared.enums
@using Shelf = SWH.Shared.enums.Shelf
@inject ICompartment CompartmentController

<PageTitle>SolarWarehouse</PageTitle>
<h1>Welcome to Solar Warehouse!</h1>
<MudButton OnClick="AddCompartment" hidden="true">add compartment</MudButton>

@code{
    
    private async void AddCompartment()
    {
    //create 16 shelves in the Shelves list
        var compartments = await CompartmentController.GetAllCompartments();
        List<Shelf> shelves = new();
        for (int i = 0; i < 16; i++)
        {
            Shelf s = new()
            {
                ShelfId = i + 1 + compartments.Count * 16,
            };
            shelves.Add(s);
        }
        Compartment c = new()
        {
            Shelves = shelves,
            CompartmentId = compartments.Count + 1,
        };
        CompartmentController.AddCompartment(c);
    }
}
