@page "/"
@using SWH.Models
@using SWH.Interfaces
@using SWH.Shared.enums
@inject IProduct ProductController
@inject IProductType ProductTypeController
@inject IShelf ShelfController


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<MudButton OnClick="addProductType">add productType</MudButton>
<MudButton OnClick="addProduct">add prod</MudButton>
<MudButton OnClick="listProducts">list prod</MudButton>
<MudButton OnClick="addShelf">add shelf</MudButton>
<MudButton OnClick="listShelves">list shelf</MudButton>
<MudButton OnClick="updateShelf">kill shelves update</MudButton>


Welcome to your new app.

@code{
    List<Product> _products = new();
    List<Shelf> _shelves = new();
    List<ProductType> _productTypes = new();

    public void addProductType()
    {
        ProductType pt = new()
        {
            MaxCapacity = 8,
            Name = "Iron",
            Price = 750
        };
        ProductTypeController.AddProductType(pt);
    }

    public void addProduct()
    {
        Product p = new()
        {
            Quantity = 1
        };

        ProductController.AddProduct(p, "6443e147191c8079c34efa92");
    }

    public async void listProducts()
    {
        var list = await ProductController.GetAllProducts();
        Console.WriteLine(list);
        foreach (var p in list)
        {
            Console.WriteLine(p.ProductType.Name + " " + p.ProductType.Price);
            Console.WriteLine(p.ProductType);
        }
    }

    public async void listShelves()
    {
        var list = await ShelfController.GetAllShelves();
    // Console.WriteLine(list);
        foreach (var p in list)
        {
            Console.WriteLine(p.column + " " + p.row);
            Console.WriteLine(p.id);
        }
    }

    public void addShelf()
    {
        Shelf s = new()
        {
            column = 0,
            row = 0,
    //add to Compartments list
            Compartments = new List<Compartment>()
            {
                new Compartment()
                {
                    id = 1,
                    Products = new List<Product>()
                    {
                        new Product()
                        {
                            Quantity = 1,
                            ProductType = new ProductType()
                            {
                                Name = "Iron",
                                Price = 750,
                                MaxCapacity = 8
                            }
                        }
                    },
                },
                new Compartment()
                {
                    id = 2,
                    Products = new List<Product>()
                    {
                        new Product()
                        {
                            Quantity = 7,
                            ProductType = new ProductType()
                            {
                                Name = "asd",
                                Price = 150,
                                MaxCapacity = 8
                            }
                        },
                        new Product()
                        {
                            Quantity = 1,
                            ProductType = new ProductType()
                            {
                                Name = "asd",
                                Price = 150,
                                MaxCapacity = 8
                            }
                        }
                    },
                },
            }
        };
        ShelfController.AddShelf(s);
    }

    public void updateShelf()
    {
        var s = ShelfController.GetShelf("644418482949b7f4aa05aba6");
        s.Compartments[0].Products[0].Quantity = 52;
        var res = ShelfController.UpdateShelf(s);
        Console.WriteLine(res);
    }

}