<h3>Storage</h3>
@page "/storage"
@using SWH.Models
@using SWH.Shared.Components
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudButton OnClick="addProducts">New shipment</MudButton>

<MudDropContainer T="DropItem" Items="_items" CanDropClass="mud-border-info" NoDropClass="mud-border-error" ItemsSelector="@((item,dropzone) => item.Identifier  == dropzone)" ItemDropped="ItemUpdated" Class="border-2 border-solid mud-border-lines-default">
    <ChildContent>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="3">
                <MudDropZone T="DropItem" Identifier="0" DraggingClass="mud-alert-text-info" ItemDraggingClass="mud-alert-text-info" Class="rounded-lg border-2 border-dashed mud-border-lines-default pa-6 ma-8">
                    <MudText Typo="Typo.h6" Class="mb-4">Unstored Products</MudText>
                </MudDropZone>
            </MudItem>
            <MudItem xs="9">
                @for (int r = 0; r < 6; r++) {
                    var row = r.ToString();
                    <div class="d-flex">
                        @for (int c = 0; c < 6; c++) {
                        var col = c.ToString();
                        
                        <MudDropZone T="DropItem" Identifier="@($"{row}{col}")" DraggingClass="mud-alert-text-info" Class="d-flex justify-center align-center border-2 border-solid docs-gray-bg mud-border-lines-default" Style="height:96px;width:16.33%;"/>
                        }
                    </div>
                }
            </MudItem>
        </MudGrid>
    </ChildContent>
    <ItemRenderer>
        <MudPaper Class="pa-4 rounded-lg my-3">@context.Name</MudPaper>
    </ItemRenderer>
</MudDropContainer>

@code {
    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.Identifier = dropItem.DropzoneIdentifier;
    }

    private List<DropItem> _items = new();

    public class DropItem
    {
        public string Name { get; set; }
        public string Identifier { get; set; }
    }
    
    private async void addProducts()
    {
        try
        {
            var res = DialogService.Show<NewShipmentDialog>("New Shipment");
            var result = await res.Result;
            if (result.Canceled) return;
            Snackbar.Add("Products added!", Severity.Info);
            
        }
        catch (Exception e)
        {
    //ignored
        }
    }    
    
}

