@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject ElectronNET.API.WindowManager WindowManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorageService
@using SWH.Shared.Components

<PageTitle>SolarWarehouse</PageTitle>
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="content px-4 auth">
            <MudPaper Width="100%" Class="d-flex align-content-end" Elevation="1" Style="background-color: #e9e9e9">
                <LoginDisplay Role="Role" IsAuthenticated="IsAuthenticated"/>
            </MudPaper>
            @Body
        </div>
    </main>
</div>

@code
{
    private bool IsAuthenticated { get; set; }
    private int Role { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (await localStorageService.ContainKeyAsync("isAuthenticated"))
            {
                IsAuthenticated = await localStorageService.GetItemAsync<bool>("isAuthenticated");
                Role = await localStorageService.GetItemAsync<int>("role");
            }
            else
            {
                IsAuthenticated = await sessionStorageService.GetItemAsync<bool>("isAuthenticated");
                Role = await sessionStorageService.GetItemAsync<int>("role");
            }
        }
        catch
        {
    // ignored
        }
    }
}
